$main : #000;
$mainDark:#0a0b0c;
$mainLight:#38393c;
$accent: #0085EA;
$facebook: #4267B2;
$white: white;
$gray: #F5F6FA;
$gray2: #bebfbf;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*{
    box-sizing:border-box;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

body{
    background-color: $gray;
    overflow-x: hidden;
    font-weight: lighter;
    color: $main !important;
    font-family: 'Roboto', sans-serif !important;
}

.hide{
    display: none;
}

.btn{
    cursor:pointer;
}
button:focus{
    outline: none !important;
}button:hover{
    outline: none !important;
}button{
    outline: none !important;
}
.btn{
    border-radius: 20px !important;
}
.bg-action{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.45);
    z-index: 1;
    display: none;
}
.box-confirm-wrap{
    width:100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .box-confirm{
        width:500px;
        border-radius:6px;
        height: 150px;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        background: $white;
        z-index: 10;
        

        h4{
            margin:0;
            padding:0;
        }

        ul{
            list-style: none;
            margin:0;
            padding:0;
            display: flex;
            margin-top:15px;

            li{
                margin-right: 15px;

            }
        }
    }
}
a{
    cursor: pointer;
}a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*general*/
.unLikePost{
    color:red !important;
    display: none;
    cursor: pointer;
}
.likePost{
    display: none;
    cursor: pointer;
}
.container-middle{
    margin:0 auto;
    width:75%;
}
.uploadcare--powered-by__link,.uploadcare--powered-by{
    display: none !important;
}
.mt-main{
    margin-top:100px;
}
.color-mainDark{
    color:$mainDark !important;
}
.avatar{
    background: url(../images/bg.jpg);
    background-size:cover !important;
    background-position: center center !important;
    border-radius:50%;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.main{
    background: $white;
    min-height: 100vh;
    margin-top:100px;
    border-radius:6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bold{
    font-weight: bold;
}
.step-bg{
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}
.bg-facebook{
    background-color: $facebook !important;
    color: $white !important;
    border:none !important;
}

.bg-accent{
    background-color: $accent !important;
    color: $white !important;
    border:none !important;
}

.bg-gray{
    background-color: $gray !important;
    color: $white !important;
    border:none !important;
}

.bg-mainLight{
    background-color: $mainLight !important;
    color: $white !important;
    border:none !important;
}
.bg-mainDark{
    background-color: $mainDark !important;
    color: $white !important;
    border:none !important;
}
.feed-container{
    padding-bottom: 50px;
}

.user-list{

    li{
        margin-bottom: 15px !important;;
        a{
            display: flex;
            align-items:center;
            font-size:15px !important;
            color:$mainDark !important;
        }
    }

    .avatar{
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}

.bg-main{
    background-color: $main !important;
    color: $white !important;
    border:none !important;
}

.med-font{
    font-size: 19px;
}
.flex-a-center{
    display: flex;
    align-items:center;
}
.btn-menu-user{
    background: $white !important;
    color: $main;
    font-weight: bold;
    border:none !important;
    outline:none !important;
    box-shadow:none;
    cursor: pointer;
}.btn-menu-user:hover{
    border:none !important;
    outline:none !important;
    box-shadow:none !important;
    cursor: pointer;
}.btn-menu-user:active{
    outline: none !important;
    border: none !important;
    box-shadow:none !important;
}.btn-menu-user:focus{
    outline: none !important;
    border: none !important;
    box-shadow:none !important;
}

.accent-font{
    color: $accent !important;
}

.menu-options{
    list-style: none;
    margin:0;
    padding:0;
    width: auto;
    height: auto;
    background:$gray;
    border:1px solid $gray;
    display: none;
    z-index: 2;


    li:hover{
        background: $white;
        color: $main;
    }
    li{
        padding:10px 25px;
        display: block;
        cursor: pointer;
    }
}

#post-comment-input{
    width: 100% !important;
}

.section-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:20px 0;

    h1{
        margin:0;
        padding:0;
    }
}

.post-comments-wrap{
    width: 100%;
    height: 45px;
    position: relative;

    .post-comment-input input[type="text"]:focus{
        background: $gray2;
    }

    .post-comment-input input[type="text"]{
        width: 100%;
        height: 45px;
        border-radius:50px;
        display: block;
        border:none;
        outline:none;
        padding-left: 20px;
        background: $gray;
        margin: 10px 0 20px;
    }

    button{
        position: absolute;
        right: 10px;
        top:7px;
    }
}

.login-header{
    width: 100%;
    height: 75px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    .logo{
        width: 100px;
        margin-right: 50px;

        img{
            width: 100%;
        }
    }

    .btn{
        margin-top: 15px;

        a{
            font-weight: bold;
            font-size: 14px;
            color: $white !important;
        }
    }
    nav{
        padding-top: 15px;
        ul{
            list-style: none;
            margin:0;
            padding:0;
            display: flex;
            align-items:center;

            li{
                padding: 0 10px;

                a{
                    color: $mainDark !important;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}

.full{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;

    .full-box{
        width: 750px;
        padding-top: 75px;
        display: flex;
        align-items:center;
        justify-content:space-between;
    }
}

.full-bottom{
    width: 100%;
    display: flex;
    justify-content:center;

    .full-box{
        width: 750px;
        padding-top: 75px;
        display: flex;
        justify-content:center;
    }
}

.login{
    height: 100vh;
    background: $white;
    
    h1{
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }
    .phone{
        width: 300px;

        img{
            width: 100%;
        }
    }

    .form{
        width: 350px;

    }
    
}

.register{
    background: $white;
    margin-top:75px;


    h1{
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }
    .phone{
        width: 300px;

        img{
            width: 100%;
        }
    }

    .form{
        width: 350px;

        label{
            display: none;
        }

    }
    
}


.input-accent::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray2 !important;
}
.input-accent::-moz-placeholder { /* Firefox 19+ */
  color: $gray2 !important;
}
.input-accent:-ms-input-placeholder { /* IE 10+ */
  color: $gray2 !important;
}
.input-accent:-moz-placeholder { /* Firefox 18- */
  color: $gray2 !important;
}

.form{
    .form-logo{
        width: 200px;
        margin:50px auto;

        img{
            width:100%;
        }
    }

    .form-item{
        margin-bottom: 15px;
        text-align: center;
        height: auto;
        overflow: hidden;
    }

    label{
        font-weight: bold;
    }

    .form-item--space{
        margin: 40px 0;
        text-align: center;
    }

    .input-accent{
        border:2px solid $gray;
        outline: none;
        width:100% !important;
        font-size:14px;
        height: 48px;
        border-radius: 20px;
        font-size: 17px;
        font-weight: lighter !important;
    }
    

    .alert{
        border-radius: 40px !important;
    }

    .input-main{
        border:4px solid $main;
        outline: none;
    }

    .input-step{
        width:100%;
        border:none;
        border-bottom:3px solid $main;
        border-radius:0;
        font-size:21px;
        text-align: center;
    }
}

.step{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;

    .title{
        color: $white;
    }

    .row{
        width:100%;
        border-radius:6px;
    }

    .title{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    form{
        width:100%;
        display: block;
    }
}



.menu{
    width: 100%;
    height: 75px;
    background: $white;
    position: fixed;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    top: 0;
    left: 0;
    z-index: 90;

    .menu-search{
        width:350px;
        margin-left:25px;
        position:relative;

        i{
            position: absolute;
            right: 20px;
            top: 8px;
            color: $main;
            font-size:26px;
        }

        input[type="text"]{
            width: 100%;
            height: 40px;
            border-radius: 20px;
            background: $gray;
            color: $main;
            border:none;
            padding-left: 20px;
            outline:none;
        }

        .menu-search-result{
            width: 315px;
            height: auto;
            overflow: hidden;
            background: $white;
            border:1px solid $gray2;
            border-top:none;
            position:absolute;
            top: 40px;
            left:0px;
            right: 0;
            margin:auto;

            ul{
                list-style: none;
                margin:0;
                padding:0;
                
                li:hover{
                    background:$gray;
                }
                
                li{
                    padding:10px;
                    display: flex;
                    align-items:center;

                    a{
                        font-weight: bold;
                        color: $main !important;
                        padding:10px 0;
                    }

                    .avatar{
                        margin-right:10px;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

    .menu-logo{
        width:100px;

        img{
            width: 100%;
        }
    }

    nav{
        ul{
            list-style: none;
            margin:0;
            padding:0;
            display: flex;
            align-items:center;

            li:hover{
                border-bottom: 4px solid $accent;
            }
            li:hover a{
                color: $main !important;
            }
            li:hover i{
                color: $main !important;
            }


            li{
                margin:0 10px;
                height: 75px;
                display: flex;
                align-items:center;
                border-bottom: 4px solid $white;

                a{
                    color: $gray2 ;
                    font-weight: bolder;
                    font-size:15px;
                    display: flex;
                    align-items:center;
                    position: relative;
                    height: 75px;


                    i{
                        font-size: 32px !important;
                        color: $gray2;
                        width: 30px;
                        margin-right: 3px;
                    }
                }
                #total_notifications{
                    position: absolute;
                    bottom: 38px;
                    right: -16px;
                    background: red;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                    border-radius: 50%;
                    color:$white;
                    font-size: 10px;
                    font-weight: lighter;
                }

            }
            .menu-user:hover{
                border-bottom: 4px solid $white !important;
            }
            .menu-user{
                display: flex;
                align-items:center;
                margin-left: 25px;
                width: 150px;
                display: flex;
                justify-content:flex-end;
                position: relative;

                span{
                    padding-left: 5px;
                }

                a{
                    color: $main !important;
                }

                .menu-avatar{
                    width: 40px;
                    height: 40px;
                    margin-right: 0px;
                }
            }
        }
    }

   
}

.active{
    border-bottom: 4px solid $accent !important;
    a{
        color: $main !important;
    }
    i{
        color: $main !important;
    }
}

.full{
    width:100%;
    display: flex;
    justify-content: center;
}

.not-update{
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 350px;
    border-radius: 6px;
    background: $main;
    padding: 20px;

    span{
        font-size: 16px;
        font-weight: lighter;
        color: $white;
    }
}

.profile-active{
   border-bottom: 2px solid $accent;
}

.no-post-message{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: $white;
    margin-bottom: 10px;

    h4{
        margin:0;
        padding: 0;
    }
}

.not-user-update{
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 350px;
    border-radius: 6px;
    background: $main;
    padding: 20px;

    span{
        font-size: 16px;
        font-weight: lighter;
        color: $white;
    }
}

.notification-body{
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 350px;
    border-radius: 6px;
    background: $main;
    padding: 20px;
    font-size: 16px;
    font-weight: lighter;
    color: $white;
}

.settings{
    h1{
        font-size: 32px;
        font-weight: bold;
    }

    background: $white;
    width:650px;
    padding:35px;
    margin:0 auto;
    margin-top: 100px;

    .form-item{
        text-align: left !important;

        small{
            font-size:14px;
            line-height: 11px !important;
            color: #ccc;
        }
    }

    .settings-input-error{
        border-color:red !important;
    }

    .settings-response-username{
        display: none;
        font-size:14px;
        font-weight:bold;
        color: red;
    }

    .settings-cover{
        width: 100%;
        height: 300px;
        margin-bottom:10px;
        background-size: cover !important;
        background-position:center !important;
    }

    .settings-pp-wrap{
        text-align: center;
        display: flex;
        justify-content:center;
        flex-direction: column;

        .settings-pp-label{
            display: block;
            text-align: center;
        }

        .uploadcare--widget__button{
            margin:0 auto !important;
            background:$main;
            font-weight: bold;
        }
    
        .settings-pp{
            width:200px;
            height: 200px;
            margin:15px auto;
        }
    }

    .btn-settings-pp{
        width:200px;
    }

}

/*profile*/
.profile{
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position: center center !important;
    
    .profile-wrap{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items:flex-end;
        padding: 50px;
        box-sizing:border-box;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.85+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
    }

    .profile-numbers-user{
        padding-top:10px;
        font-size:19px;
        font-weight: lighter;
        color:$white;
    }

    .profile-info{
        .profile-info-pp{
            .avatar{
                width: 100px;
                height:100px;
            }
        }
        .profile-btn-action{
            margin-top:20px;
        }

        .profile-info-user{
            width: 100%;
            color: $white;
            margin-left:20px;
            h2{
                font-size:42px;
                font-weight: lighter;
                margin:0;
                padding: 0;
            }
            p{
                margin:0;
                padding: 0;
            }
            .profile-username{
                font-weight: bold;
                font-size: 18px;
                position:relative;
                top: -6px;
            }

            .profile-bio{
                font-size: 16px;
                font-weight: lighter;
                position: relative;
                top: -5px;
            }
        }
    }
}

//New post
.new-post-wrap{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items:center;
    justify-content:center;
    background: rgba(0,0,0,0.75);
    display:none;
    z-index: 100;
    

    .new-post{
        width: 600px;
        border-radius:6px !important;

        .uploadcare--widget__button{
            background:transparent;
            color:$main;
            cursor:pointer;
            padding:0;
        }.uploadcare--widget__button:hover{
            color:$accent;
        }
        
        .new-post-header{
            width:100%;
            height:75px;
            background:$white;
            position:relative;
            text-align:left;
            border-top-left-radius:6px;
            border-top-right-radius: 6px;
            display: flex;
            align-items:center;
            justify-content: space-between;

            .avatar{
                width:50px;
                height: 50px;
                position: absolute;
                top:13px;
                left:20px;
            }

            h4{
                margin:0;
                padding:0;
                padding-left:80px;
            }

            .new-post-close:hover{
                color: red;
            }
            .new-post-close{
                padding-right: 20px;
                cursor: pointer;
            }
        }

        .new-post-input{
            width:100%;
            height: auto;
            overflow: hidden;
            padding:20px;
            background:$gray;
            position:relative;

            textarea{
                width: 100%;
                padding:10px;
                border-radius: 6px;
                background:$white;
                border:2px solid $gray;
                color: $main;
                font-size:18px;
                outline:none;
                font-weight: lighter;
            }
        }

        .new-post-footer{
            background:$white;
            padding:15px 20px;
            display:flex;
            justify-content: space-between;
            align-items:center;
            border-bottom-left-radius:6px;
            border-bottom-right-radius: 6px;

            .image-recent{
                width:40px;
                height: 40px;
                
                img{
                    width: 100%;
                    height: 40px;
                }
            }

            i{
                color:$accent;
                font-size:26px;
                padding-right: 5px;
            }
        }
    }
}

.post{
    width:100%;
    height: auto;
    background:$white;
    margin-bottom:15px;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .post-image{
        width: 100%;
        height: 550px;
        background-size:cover !important;
        background-position:center !important;
    }

    .post-comments-items-wrap{
        padding: 10px 0;

        .post-comments-items{
            list-style: none;
            margin:0;
            padding: 0;
        }
    }

    .post-content{
        width:100%;
        height: auto;
        padding:20px;

        .post-content-user{
            display: flex;
        
            padding-top:0px;

            .avatar{
                width: 50px;
                height:50px;
            }

            a{
                margin-left:10px;
                color: $mainDark !important;
                font-size:21px;
                font-weight: bold;
                display: block;
                line-height: 1.1;
            }
            span{
                font-size:13.5px;
                display:block;
                font-weight:normal;
                color:$main;
            }
        }
        .post-caption{
            padding: 5px 0px 0;

            p{
                font-size:18px;
                font-weight: lighter;
                margin:10px 0;
                padding:0;
                color:$mainDark;
            }
        }

        .post-actions{
            width:100%;
            height:auto;
            padding-top:0px;
            display: flex;
            align-items:center;
            justify-content:space-between;
            position:relative !important;
            

            .post-actions-items{
                list-style: none;
                margin:0;
                padding:0;
                display:flex;
                align-items:center;

                li{
                    margin-right: 10px;
                    display: flex;
                    align-items:center;
                    width: 30px;

                    a{
                        margin:0;
                        padding:0;
                        position: relative;
                        top: 4px;
                        i{
                            font-size:27px;
                            color: $main;
                            z-index: 2;

                        }
                    }

                    i{
                        font-size:28px;
                        color: $main;
                        z-index: 2;
                    }
                }
            }

            .menu-options{
                position: absolute;
                top: 45px;
                right:10px;

            }

            .openPostOptions{
                cursor: pointer;
                padding:10px 0px;
            }

        }

        .post-likes-users{
            width: 100%;
            height: 50px;
            display: flex;
            align-items:center;
            margin:5px 0;
            display:none;

            ul{
                list-style: none;
                margin:0;
                padding:0;
                display:flex;
                align-items:center;

                li{
                    margin-right: -3px;

                    .avatar{
                        width:35px;
                        height: 35px;
                    }

                    span{
                        color: $mainLight;
                        padding-left: 10px;
                        font-size:14px;
                    }
                }
            }

        }
    }
}

.box-cmt{
    width: 100%;
    height:auto;
    overflow: hidden;
    padding: 25px;
    background:$white;

    h2{
        margin:0;
        padding:0;
        color: $mainDark;
        font-size: 21px;
        font-weight: bold;
    }

    ul{
        list-style: none;
        margin:0;
        padding:0;

        li{
            margin-bottom:5px;
            a{
                font-weight: bold;
                font-size:17px;
            }
            p{
                margin:0;
                padding:0;
                font-size:14px;
                font-weight: lighter;
                color: $main;
                margin-top:-7px;
            }
        }
    }
}

.trending-home,.ad-home{
    margin-top:16px;
}


.explore-search{
    width:100%;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items:center;

    input{
        width:100%;
        height: 55px;
        border-radius:50px;
        background:$white;
        outline:none;
        padding-left: 25px;
        border:none;
        font-size:21px;
        font-weight: lighter;
    }
}
#explore-search-data{
    width: 75%;
    margin:0 auto;
}
.explore-hashtag-item{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: $white;
    border-radius:6px;
    margin-bottom:25px;

    .explore-hashtag-item-header{
        width: 100%;
        height: 200px;
        background-size:cover !important;
        background-position:center !important;
        background-color: $main;
    }

    .explore-hashtag-item-info{
        padding:16px;

        h5{
            margin:0;
            padding:0;
            color:$accent;
        }
    }
}

.explore-title{
    margin:10px 0;
    h2{
        font-size:34px;
        margin:0;
        padding:0;
    }
}

.explore-sug-hashtags{

}

.explore-trending-users{
    width:100%;
    margin-bottom:25px;
    ul{
        list-style: none;
        margin:0;
        padding:0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li{
            .avatar{
                width: 75px;
                height: 75px;
                display: block;
                border:3px solid $accent;
            }
        }
    }
}

.mini-profile{
    width: 100%;
    background: $white;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    .mini-profile-top{
        display: flex;
        align-items:center;
        margin-bottom: 20px;

        .avatar{
            width: 65px;
            height: 65px;
            margin-right: 10px;
            flex-shrink: 0;
            min-width: 50px;
            min-height: 50px;
        }

        a{
            color: $main !important;
            font-size: 18px;
            font-weight: bold;

            span{
                display: block;
                font-weight: lighter;
                font-size: 14px;
            }
        }
    }

    .mini-profile-stats{

        ul{
            list-style: none;
            margin:0;
            padding: 0;
            li{
                margin-bottom:10px;
            }
        }

        .number{
            font-size: 24px;
            font-weight: bold;
            padding-right: 16px;
            border-right: 1px solid $main;
        }

        .s-type{
            font-size: 16px;
            font-weight: lighter;
            color: $main;
            padding-left: 10px;
        }
    }
}

.home-section-title{
    display: flex;
    justify-content:space-between;
    align-items:center;

    h2{
        font-size: 21px;
        margin:0;
        padding:0;
        font-weight: lighter;
    }

    a{
        color: $gray2 !important;
    }
}

.followings-home{
    width: 100%;
    background: $white;
    margin-top: 15px;
    padding: 20px;

    ul{
        list-style: none;
        margin:0;
        padding: 0;


        li{
            margin-bottom: 16px;

            a{
                display: flex;
                align-items:center;
                color: $main !important;
                font-size: 16px;
                font-weight: bold;
            }

            .avatar{
                width: 45px;
                height: 45px;
                margin-right: 10px;
            }
        }
    }
}

.trends-home{
    padding: 20px;
    background: $white;
    margin-bottom: 15px;

    ul{
        list-style: none;
        margin:0;
        padding: 0;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-between;

        li{
            width: 65px;
            height: 65px;
            background-size: cover !important;
            background-position: center !important;
            border-radius: 6px;
            margin-bottom: 10px;
   
        }
    }
}

.suggested-home{
    margin-top: 25px;
    background:$white;
    padding: 20px;

    ul{
        list-style: none;
        list-style: none;
        margin:0;
        padding: 0;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-between;
        margin-top: 0px;

        li{
            margin-bottom: 10px;
            .avatar{
                width: 65px;
                height: 65px;
            }
        }

    }
}

.new-post-home{
    background: $accent;
    padding: 10px;
    color: $white;
    display: flex;
    align-items:center;
    justify-content:space-between;

    input{
        border-radius:20px;
        background: $white;
        border:none;
        outline: none;
        padding-left: 10px;
        height: 30px;
    }
}



.error-input{
    border:2px solid red !important;
}

.error-format-input{
    border:2px solid orange !important;
}

.error-taken-input{
    border:2px solid blue !important;
}


.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}